<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jobesk.kikkiapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.quickblox.sample.chat.java.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.EditProfileActivity"></activity>
        <activity android:name=".Activities.MyProfileActivity" />
        <activity android:name=".Activities.PrivacyPolicyActivity" />
        <activity android:name=".Activities.SupportActivity" />
        <activity android:name=".Activities.FiltersActivity" />
        <activity android:name=".Activities.FriendsActivity" />
        <activity android:name=".Activities.Profile.DoYouDrinkActivity" />
        <activity android:name=".Activities.Profile.DoYouSmokeActivity" />
        <activity android:name=".Activities.Profile.DoYouUseCannabisActivity" />
        <activity android:name=".Activities.Profile.PoliticalViewsActivity" />
        <activity android:name=".Activities.Profile.YourDietActivity" />
        <activity android:name=".Activities.Profile.YourKidsActivity" />
        <activity android:name=".Activities.Profile.YourPetsActivity" />
        <activity android:name=".Activities.Profile.YourReligionActivity" />
        <activity android:name=".Activities.Profile.YourSignActivity" />
        <activity android:name=".Activities.Profile.RelationshipStatusActivity" />
        <activity android:name=".Activities.Profile.AddBioActivity" />
        <activity android:name=".Activities.Profile.SetHeightActivity" />
        <activity android:name=".Activities.Profile.SexualIdentityActivity" />
        <activity android:name=".Activities.Profile.PronounsActivity" />
        <activity android:name=".Activities.Profile.GenderIdentityActivity" />
        <activity android:name=".Activities.Profile.LookingForActivity" />
        <activity android:name=".Activities.PostDetailActivity" />
        <activity android:name=".Activities.CreatePostActivity" />
        <activity android:name=".Activities.MatchActivity" />
        <activity android:name=".Activities.EventDetailActivity" />
        <activity android:name=".Activities.CallingActivity" />
        <activity android:name=".Activities.ChattingActivity" />
        <activity android:name=".Activities.SignUpModule.SubscriptionActivity" />
        <activity android:name=".Activities.SignUpModule.AgreementActivity" />
        <activity android:name=".Activities.SignUpModule.VerifyProfileImagesActivity" />
        <activity android:name=".Activities.SignUpModule.AddMoreProfileImagesActivity" />
        <activity android:name=".Activities.SignUpModule.AddProfileImageActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignUpModule.RegistrationActivity" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".Activities.SignUpModule.LocationActivity" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".Activities.SignUpModule.VerifyOTPActivity" />
        <activity android:name=".Activities.SignUpModule.EnterPhoneNumberActivity" />
        <activity android:name=".Activities.SignUpModule.SignUpActivity" />
        <activity android:name=".Activities.OnBoardingActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>