<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobesk.kikkiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.PostDetailActivity"></activity>
        <activity android:name=".Activities.CreatePostActivity" />
        <activity android:name=".Activities.MatchActivity" />
        <activity android:name=".Activities.EventDetailActivity" />
        <activity android:name=".Activities.CallingActivity" />
        <activity android:name=".Activities.ChattingActivity" />
        <activity android:name=".Activities.SignUpModule.SubscriptionActivity" />
        <activity android:name=".Activities.SignUpModule.AgreementActivity" />
        <activity android:name=".Activities.SignUpModule.VerifyProfileImagesActivity" />
        <activity android:name=".Activities.SignUpModule.AddMoreProfileImagesActivity" />
        <activity android:name=".Activities.SignUpModule.AddProfileImageActivity" />
        <activity android:name=".Activities.SignUpModule.RegistrationActivity" />
        <activity android:name=".Activities.SignUpModule.LocationActivity" />
        <activity android:name=".Activities.SignUpModule.OTPActivity" />
        <activity android:name=".Activities.SignUpModule.EnterPhoneNumberActivity" />
        <activity android:name=".Activities.SignUpModule.SignUpActivity" />
        <activity android:name=".Activities.OnBoardingActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>